<h1>{{network}}</h1>
<label for="password">Password:</label><br/>
<form method="get" action="/connect/{{index}}/">
    <input name="password" type="password" >
    <br>
    <input type="submit" value="Connect">
</form>
